<!DOCTYPE html>
<html>

<head>
  <title> Capire Books </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/primitive-ui/dist/css/main.css">
  <script type="importmap">
    { "imports": {
      "vue": "https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.prod.js",
      "axios": "https://cdn.jsdelivr.net/npm/axios/dist/esm/axios.min.js"
    } }
  </script>
  <script type="module" src="app.js"></script>
  <style>
    .hovering tr:hover td { color:cyan; background: #123; cursor: pointer; }
    .succeeded { color:teal }
    .failed { color:red }
    .stars { color:teal }
  </style>
</head>

<body class="small-container", style="margin-top: 70px;">
  <div id='app'>

    <h1> Capire Books </h1>

    <input type="text" placeholder="Search..." @input="search">

    <table class="hovering">
      <thead>
        <th> Book </th>
        <th> Author </th>
        <th> Genre </th>
        <th> Rating </th>
        <th> Price </th>
        <th> Stock </th>
      </thead>
      <tr v-for="each, index in books" v-on:click="inspect(index)">
        <td>{{ each.title }}</td>
        <td>{{ each.author }}</td>
        <td>{{ each.genre.name }}</td>
        <td class="stars"> {{ Ratings[each.rating] }} ({{ each.numberOfReviews }}) </td>
        <td>{{ each.currency && each.currency.symbol }} {{ each.price }}</td>
        <td>{{ each.stock }}</td>
      </tr>
    </table>

    <div v-if="book">
      <label style="text-align:right">
        <span :class="message"> {{ message.succeeded || message.failed }} </span>
        &nbsp;&nbsp; {{ book.stock }} in stock
      </label>
      <form @submit.prevent="submitOrder" style="float:right; display:flex; flex-direction:row-reverse">
        <input type="number" v-model="order.quantity" v-bind:class="{ failed: order.failed }" style="width:5em">
        <input type="submit" value="Order:" class="muted-button">
      </form>
      <h4> {{ book.title }} </h4>
      <p> {{ book.descr }} </p>
    </div>
    <div v-else>
      ( click on a row to see details... )
    </div>

  </div>

  <div id="user-info" style="font-style: italic; position: absolute; bottom: 10px; right: 20px;">
  </div>

</body>
</html>
